{%  load static %}

<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Utama</title>
</head>
<body>
    <h3>Hello world</h3>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Rejekki Manalu</title>
    <link href="{% static 'css/main-css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card-body">
                    <img id="profile-pic" src="{% static 'images/mathhh.jpg' %}" alt="Profile Picture">
                    <h4>Hi I'm Jack Matteo!</h4>
                    <p>I love Business, Marketting, Law, and Technology</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h4>My Experience as an Activist & Entrepreneur</h4>
                    <p>Passionate about both the environment and entrepreneurship, I founded AquaPure, a social enterprise committed to providing clean water to communities in need. It's more than just business; it's a fusion of my dedication to sustainability and my drive for positive change.</p>
                    <p>Through AquaPure, I aim to not only tackle pressing issues but also inspire others to see the potential for impactful entrepreneurship in creating a better world.</p>
                    <p>It's my way of blending entrepreneurship with activism, addressing pressing issues while creating a sustainable future.</p>
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                        <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                        <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                        <li><img class="social" src="{% static 'images/youtube.png' %}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <h5>My Experience as a Developer</h5>
                    <hr>
                    <p>Full stack developer at FOI laboratories.</p>
                    <p>Designed, built and managed a lab management system as a sole developer. System supported thousands of customers with a UI for Lab Admins and a customer dashboard.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5>What I Know</h5>
                    <hr>
                    <p>Javascript, Node.js, MongoDB, Machine Learning, and more.</p>
                    <p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <h5>How I Learn</h5>
                    <hr>
                    <p>Reverse Engineer & Build Ugly Prototypes First.</p>
                    <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <!-- Isi sesuai kebutuhan -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>

</body>
</html>
